<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="SqlConnection" value="Persist Security Info=False;User ID=sa;Initial Catalog=KnowledgeTrail;Data Source=DESKTOP-P1F8R77\SQLEXPRESS;Password=qaz@123"/>
      <add key="CaminhoLocalDB" value="E:\ESTUDO\C-SHARP"/>
      <add key="NomeBDLocalDB" value="KnowledgeTrail_Laercio"/>
      <add key="LocalDBConnection" value="Server=(localdb)\MSSQLLocalDB;AttachDBFileName=E:\ESTUDO\C-SHARP\KnowledgeTrail_Laercio.mdf;Initial Catalog=KnowledgeTrail_Laercio;Integrated Security=True;"/>
    </appSettings>  
</configuration>