.show {
  display: flex;
  align-items: center;
}

.fade {
  display: flex;
  align-items: center;
}

.modal {
  display: flex!important;
  align-items: center;
}

.free-shipping {
  color: #1BBB16;
}
