.badge {
  color: #3F3F3F!important;
  font-size: medium!important;
}

.shopping-cart {
  display: block;
}

@media (max-width: 768px) {
  .shopping-cart {
    display: none; 
  }
}

.price {
  margin-left: 35px;
  color: #B41C8B!important;
  font-weight: bold;
}
