<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DesafioTrilhaDoConhecimento.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name="sqlServerConnection" connectionString="Password=qaz@123;Persist Security Info=True;User ID=sa;Initial Catalog=TrilhaDoConhecimento;Data Source=PED1105\SQLEXPRESS" />
    <add name="DesafioTrilhaDoConhecimento.Properties.Settings.DesafioConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Desafio.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <DesafioTrilhaDoConhecimento.Properties.Settings>
      <setting name="sqlServerConnection" serializeAs="String">
        <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=F:\Sistemas_2020\DesafioTrilhaDoConhecimento\DataBase\TrilhaDoConhecimento.mdf;Integrated Security=True</value>
      </setting>
    </DesafioTrilhaDoConhecimento.Properties.Settings>
  </applicationSettings>
</configuration>