:root {

  --color-purple: rgb(180, 28, 139);

  --color-green: rgb(119, 212, 0);

  --color-white-bg: rgb(255, 255, 255);

  --color-border: rgb(227, 227, 228);

  --color-black: rgb(63, 63, 63);

  --color-black-strong: rgb(51, 51, 51);

  --color-gray: rgb(129, 129, 129);
}

html {
  font-size: 62.5%;
  min-width: 100vw;
  width: 100%;
}

* {
  box-sizing: border-box;
  font-size: 1.6rem;
  margin: 0;
  outline: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #F3F3F4;
}

main {
  display: flex;
  justify-content: center;
}
